doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    - postalCodeString = (searchedPostalCode ? searchedPostalCode : "")
    - postalCodeString = (postalCode ? postalCode.postal_code : postalCodeString)
    form(action="/" method="get")
      input(type="text" id="postal_code" name="postal_code" required value=postalCodeString)
      input(type="submit" value="submit")
    block content
